.board_wrap {
    display: block;
    position: relative;
    left: 25%;
    width: 50%;
    height: 600px;
    background-color: rgba(127, 255, 212, 0);
    margin-top: 80px;
}

.board_title {
    position: relative;
    width: 100%;
    height: 15%;
    float: left;
    background-color: rgba(255, 228, 196, 0);
    text-align: center;
    
}

[contenteditable="typing"]:empty:before {
    content: attr(placeholder);
    opacity: 0.6;
    display: block;
    pointer-events: none;
 }


.board_view {
    position: relative;
    height:85%;
    width: 100%;
    float: left;
    background-color: rgba(67, 72, 62, 0);
    text-align: center;
}

.title {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: rgb(246, 213, 136);
    border-top: 5px solid rgb(53, 53, 53);
    border-bottom: 5px solid rgb(53, 53, 53);
    color: rgb(62, 62, 62);
    vertical-align: middle;
}

.info {
    position: relative;
    height: 10%;
    width: 100%;
    background-color: rgba(143, 188, 143, 0);
    float: left;
    border-bottom: 3px solid rgb(62, 62, 62);
}

.info > div {
    float: left;
    position: relative;
    width:33.33%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}


.a1a {
    float: left;
    position: relative;
    width: 29%;
    height: 100%;
    background-color: rgba(147, 133, 133, 0);
    text-align: center;
    border-left: 2px solid rgb(62, 62, 62);
    border-right: 2px solid rgb(62, 62, 62);
}


.a2a {
    position: relative;
    width:70%;
    height: 100%;
    margin-left: 30%;
    background-color: rgba(0, 0, 253, 0);
    text-align: center;
}

.a2a2 {
    position: relative;
    width:70%;
    height: 100%;
    margin-left: 29%;
    background-color: rgba(0, 0, 253, 0);
    text-align: center;
    border-right: 3px solid rgb(62, 62, 62);

}

.page {
    position: relative;
    float: left;
    height: 400px;
    padding: 20px;
    width: 95.5%;
    border-bottom: 5px solid rgb(62, 62, 62);
}

.on {
    font-size: 10px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding-top: 13%;
    font-weight: 600;
    
    
}

.bt_wrap {
    margin-top: -50px;
    text-align: center;
    width: 100% !important;

    position: relative;
    width: 80px;
    height: 50px;
    background-color: rgba(222, 184, 135, 0);

    display: flex;
    
}

.bt_wrap2 {
    margin-top: -50px;
    text-align: center;
    font-size: 0;

    position: relative;
    width: 80px;
    height: 50px;
    background-color: rgba(222, 184, 135, 0);

    display: flex;
    left: 91.5%;

}

.on2 {
    font-size: 10px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding-top: 13%;
    font-weight: 600;
    right: 0%;
    position: relative;

    
    
}

.headline1{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;

}

.headline2{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 0 10px 0;

}

.headline3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}


.bigName {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    display: inline-block;
/* line-height: 72px; */    

}

.arp3{
    text-decoration: none;
    color: var(--body-color);
    font-family: 'Noto Sans KR', sans-serif;
    font-size:18px;
    font-weight: 600;
}

.arp3:hover {
    border-top: rgb(0, 0, 0) 10px solid;
    border-bottom: rgb(0, 0, 0) 10px solid;
    border-left: rgb(0, 0, 0) 2px solid;
    border-right: rgb(0, 0, 0) 2px solid;
    width: 100%;
  
    transition: .5s ease-in-out;
    color: white !important;
    background: rgb(28, 34, 47);
}

#name {
    color: darkgreen;
    
}

#pw {
    color: darkgreen;
}

#content {
    color: darkgreen;
}

input[type=url] {
    position: relative;
	width: 100%;
	height: 10%;
    border: 0;
    outline: none;
    text-align: center;
    top: 75%;
}

.filebox {
    position: relative;
    top:360px;
    right: -370px;
    height: 0px;
    background-color: rgb(255, 255, 0);
    width: 400px;
}

.filebox label {
    margin: 20px;
    position: relative;
    top: -420px;
    right: -253px;

    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    
    font-family: "paybooc-Light", sans-serif;
    font-weight: 600;

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: 0.25s;

}

.filebox label-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

 .filebox input[type="file"] {
    position: relative;
    bottom: 5px;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: none;
} 

/* -45deg, #33ccff 0%, #ff99cc 100% */

.filebox label{
    background: linear-gradient(-45deg, #a3ffa200 0%, rgb(246, 213, 136) 100%);
    color: rgb(55, 55, 55);
}

.filebox label{
    background-size: 400% 400% !important;
    animation: gradient1 5s ease infinite !important;
}

.filebox label:hover {
    letter-spacing: 2px;
    transform: scale(1.15);
    transform:translateX(-10px);
    cursor: pointer;
}

.filebox label-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    cursor: pointer;
}

.filebox label:active {
    transform: scale(1.5);
}

.filebox label-outline:active {
    transform: scale(1.5);
}

@keyframes gradient1 {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.col {
    position: relative;
    bottom: 2px;
    border: none;
    height: 13px;
    width: 60%;
    padding-bottom: 2px;
}

.col:focus {outline: none;} 
.col:focus {background-color: rgba(161, 237, 167, 0.618);}

.col2 {
    position: relative;
    bottom: 2px;
    border: none;
    height: 13px;
    width: 82%;
    padding-bottom: 2px;
}

.col2:focus {outline: none;} 
.col2:focus {background-color: rgb(246, 213, 136)}

.col3 {
    position: relative;
    bottom: 2px;
    border: none;
    height: 90%;
    width: 49%;
    padding-bottom: 2px;
    float: left;
}

.col3:focus {outline: none;} 

.col4 {
    position: relative;
    bottom: 2px;
    border: none;
    height: 60%;
    width: 90%;
    padding-bottom: 2px;
    background-color: rgb(246, 213, 136);
    text-align: center;
  
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;

}

.col4:focus {outline: none;} 
.col4:focus {background-color: rgb(246, 213, 136)}


.left_img {
    width: 44.5%;
    height: 100%;
    border-right: 2px solid;
    display: block;
    position: relative;
    float: left;
    padding-right: 5px;
    transform: 2s;
    position: relative;
    bottom: 5px;
    right: 19px;
}

.spacing {
    width: 2.5%;
    height: 100%;
    position: relative;
    float: left;
}