<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.GuestCountDAO">

<insert id="newsession">
INSERT INTO guest_count
    (guest_date)
VALUES
    (sysdate)
</insert>

<select id="daycount" resultType="com.smhrd.entity.GuestCountDTO">
select *
from guest_count
where to_date(guest_date,'yyyy-mm-dd')=to_date(sysdate,'yyyy-mm-dd')
</select>

<select id="ttlcount" resultType="com.smhrd.entity.GuestCountDTO">
select *
from guest_count
</select>




</mapper>